* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(6, 4, 4);
  line-height: 1.5;
}

/* Navigation styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo {
  font-size: 1.1rem;
}

.navbar nav {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.navbar nav a {
  text-decoration: none;
  color: rgb(0, 0, 255);
  font-size: 1rem;
}

.btn-nav {
  background-color: rgb(82, 82, 82);
  color: white !important;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
}

.navbar nav a:hover {
  background-color: rgba(82, 82, 82, 0.455);
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
}


/* hero section styles */
.hero-content {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-top: 20px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  height: 350px;
  border-radius: 30px;
}

.image-placement {
  justify-content: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.hero-text strong {
  font-size: 2rem;
  color: blue;
}

/* feature section */
.features {
  background-color: rgb(255, 249, 240);
  padding-bottom: 2rem;
  margin: 0 auto;
}

.features h2 {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.feature-cards {
  display: flex;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.441);
  border-radius: 20px;
}

.card h3 {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* learning/outcome section */
.learn {
  margin: 0 auto;
}

.sec-content {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
}

.sec-content img {
  height: 350px;
  border-radius: 30px;

  flex: 1;
}

.highlight {
  color: blue;
}

.img-placement {
  justify-content: center;
}

/* Achievements section */
.achieve-content {
  background-color: blue;
  color: white;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
}

.achieve-head {
  text-align: center;
  margin-bottom: 2rem;
}

.achieve-head p {
  color: rgb(212, 212, 212);
}

.achieve-cards article {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  padding: 8px;
}

.achieve-cards article span {
  margin-bottom: 1rem;
}

.achieve-cards article h3 {
  margin-bottom: 1rem;
}

.achieve-cards article p {
  margin-bottom: 1rem;
}

.card-head {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.achieve-cards {
  display: flex;
  gap: 1rem;
}

.achieve .container {
  margin-bottom: 1rem;
}

.achieve-content {
  padding: 2.5rem;
}

/* Booking section */
.booking-content {
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding-top: 2rem;
}

/* .booking-content h2{
  margin-bottom: 1rem;
} */

.booking-content p{
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.booking-content a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 16px;
  padding: 1rem;
  margin: 2rem 1rem;

}

.btn-call {
  background-color: white;
  color: blue !important;
}

.btn-visit:hover {
  background-color: rgba(222, 222, 222, 0.636);
}

.booking-content #bottom-p {
  padding: 2rem 0;
  color: rgb(192, 192, 192);
}

/* Footer section */
footer {
  margin-top: 1rem;
  background-color: rgb(25, 25, 25);
  color: aliceblue;
  text-align: center;
}

.footer-left {
  padding: 1rem 0;
}

.footer-left h3 {
  padding-bottom: 1rem;
}

.footer-right {
  padding-bottom: 1rem;
}

.footer-left a {
  text-decoration: none;  
  color: aliceblue;
}

.footer-right a {
  text-decoration: none;
  color: aliceblue;
}

.bottom-section {
  border-top: 1px solid white;
  padding: 1rem;
}



/* mobile responsiveness styling */
@media (max-width: 800px){
  .sec-content{
    display: flex;
    flex-direction: column;
  }

  .feature-cards{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
  }

  .hero-image img {
    width: auto;
    border-radius: 30px;
  }

  .achieve-content {
    margin: 0 auto;
  }

  .achieve-cards {
    display: flex;
    flex-direction: column;
  }

  .hero-image img, img {
    width: 250px;
  }

  .booking-content {
    display: flex;
    flex-direction: column;
  }

}